body{
  background:url("Imagenes/fondo.jpg");
  background-size: 100%;
  background-repeat:no-repeat;
}

header{
  background: url("Imagenes/encabezado.jpg");
  background-size: 1340px 120px;
  background-repeat:no-repeat;
  width:1200px;
  padding: 60px;
}

.contenedor{
  width: 90%;
  max-width: 1000px;
  padding: 30px 100px;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frontal{
width:566px;
height: 280px;
background: url("Imagenes/fondo-tarjeta1.jpg");
background-size:  380px 250px;
background-repeat:no-repeat;
z-index: 2;
}

.datos{
  position: relative;
  top:109px;
  left:25px;
}

.frontal .grupo .label{
  font-size: 20px;
  color: #7d8994;
  margin-bottom: -13px;
}

.frontal .grupo .numero
.frontal .grupo .nombre{
  color: negro;
  font-size: 22px;
  text-transform: uppercase;
}

.formulario-tarjeta{
    border: #FFA70C 8px double;
    background: #F9F9F9;
    width: 100%;
    max-width: 700px;
    padding: 120px 25px 30px 30px;
    border-radius: 10px;
    position: relative;
    top: -140px;
    z-index: 1;

  }

  .formulario-tarjeta label{
  display: block;
  color: black;
  font-size: 23px;
}

.formulario-tarjeta input{
  border: 2px solid #CED6E0 ;
  background: #CED6E0;
  font-size: 17px;
  height: 27px;
  width: 85%;
  padding: 5px 8px;
  border-radius: 7px;
}


.formulario-tarjeta #btn {
border-radius: 6px;
font-size: 17px;
margin: 18px;
padding: 8px;
background:
}
